<html>
    <head>
        <title>Autumn | Home </title>
        <link rel="stylesheet" href="/resources/css/home.css"/>
    </head>
    <body>
        <div class="explorer">
          
            <div class="handle" onclick='document.querySelector(".explorer").classList.toggle("active");'>
                <div></div>
                <div></div>
                <div></div>
            </div>

            <div class="nodes">
                <div class="node">
                    <label>hello</label>
                    <div class="node">
                        <label>css</label>
                        <div class="node">
                                <label>main.css</label>
                            </div>
                    </div>
                    <div class="node">
                        <label>main.js</label>
                    </div>
                    <div class="node">
                        <label>index.js</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="body">
            <div class="options"></div>
        </div>

        <div class="options">

        </div>

        <script src="/resources/js/home.js"></script>
    </body>
</html>