<html>
    <head>
        <title>Autumn | Home </title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/resources/css/home.css"/>
        <link rel="stylesheet" href="/resources/css/icons.css"/>

        <!-- lib for codemirror -->

        <link rel="stylesheet" href="/resources/lib/codemirror/lib/codemirror.css">
        
        <script src="/resources/lib/codemirror/lib/codemirror.js"></script>
        <script src="/resources/lib/codemirror/mode/javascript/javascript.js"></script>
        <script src="/resources/lib/codemirror/mode/htmlmixed/htmlmixed.js"></script>
        <script src="/resources/lib/codemirror/mode/css/css.js"></script>

        <script src="/resources/lib/codemirror/addon/selection/active-line.js"></script>
        <script src="/resources/lib/codemirror/addon/edit/matchbrackets.js"></script>

    </head>
    <body>
        <div class="header">
            Autumn
        </div>
        
        <div class="floating-options">
            
            <div class="options">
                <div class="option save"> </div>
                <div class="option run"> </div>
                <div class="option output" onclick="showOut();"> </div>
            </div>
            <div class="handle" onclick='document.querySelector(".floating-options").classList.toggle("active");'>
                    <div id="first"></div>
                    <div id="second"></div>
                    <div id="third"></div>
            </div>
        </div>

        <div class="explorer">
          
            <div class="handle" onclick='document.querySelector(".explorer").classList.toggle("active");'>
                <div></div>
                <div></div>
                <div></div>
            </div>

            <div class="nodes">
                <div class="node">
                    <label class="folder">hello</label>
                    <div class="node">
                        <label class="folder">css</label>
                        <div class="node">
                                <label class="file">main.css</label>
                            </div>
                    </div>
                    <div class="node">
                        <label class="file">main.js</label>
                    </div>
                    <div class="node">
                        <label class="file">index.js</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="body">
            
            <div class="editors">
                <textarea id="code" >  
//declaring function in javascript.
let hello = () => {
    console.log('Hello . Welcome in the realm of Autumn.');
}

//calling function.
hello();

                </textarea>
            </div>
        </div>

        <div class="footer options">
            <div class="option"> <div class="option-icon project"></div> <label>Project</label> 
                <div class="sub-options">
                    <div class="sub-option">
                        <label>New Project </label>
                    </div>
                    <div class="sub-option">
                        <label>New File</label>
                    </div>
                    <div class="sub-option">
                        <label>Save All</label>
                    </div>
                    <div class="sub-option">
                        <label>Open Project</label>
                    </div>
                </div>

            </div>
            <div class="option"> <div class="option-icon options-icn"></div> <label>Options</label> 
                <div class="sub-options">
                    <div class="sub-option">
                         <label>logout</label>
                    </div>        
                    <div class="sub-option">
                        <label>login </label>
                    </div>
                    <div class="sub-option">
                        <label>Join</label>
                    </div>

                </div>
            </div>
            <div class="option">
                 <div class="option-icon share"></div> 
                 <label>Share</label> 
                 <div class="sub-options">
                        <div class="sub-option">
                            <label>Add </label>
                        </div>
                        <div class="sub-option">
                            <label>Manage</label>
                        </div>
                </div>
            </div>
        </div>

        <div id="out" class="" >

            <div class="out-frame">
                    <iframe id="frame" src="/hello/hello.html" frameborder="0" width="100%" height="100%"></iframe>
            </div>

            <div class="footer options">
                    <div class="option"> 
                        <div class="option-icon out-share"></div>
                        <label>share</label> 
                    </div>
                    <div class="option">
                    <div class="option-icon out-refresh"></div> <label>refresh</label> </div>
                    <div class="option"> <div class="option-icon out-back" onclick='$("#out").classList.remove("show")'></div> <label>back</label> </div>
            </div>
        </div>
        
        <div id="share-div">

        </div>
            
        <script src="/resources/js/home.js"></script>
        <script src="/resources/lib/axios.js"></script>
        <script>
            init();
        </script>
    </body>
</html>
