<html>
    <head>
        <title>Editor</title>

        <link rel="stylesheet" href="/codemirror/lib/codemirror.css">
        
        <script src="/codemirror/lib/codemirror.js"></script>
        <script src="/codemirror/mode/javascript/javascript.js"></script>
        
        <script src="/codemirror/addon/selection/active-line.js"></script>
        <script src="/codemirror/addon/edit/matchbrackets.js"></script>
        <script src="/js/axios.js"></script>

    </head>
    <body>
        <button onclick="save()">Save</button>
        <div id="explorer">
            
        </div>
        <textarea id="code">
            let a = () => {
                conssole.log('a');
            }
        </textarea>

        <script>
            let $ = (expr) => { return document.querySelector(expr); }
            var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
                lineNumbers: true,
                styleActiveLine: true,
                matchBrackets: true
            });
            let save = () =>{
                let data = {
                    file : 'first.js' ,
                    content : $('#code').value
                }
                axios.post('/save',data).then((res)=>{
                    console.log('res:'+JSON.stringify(res));
                }).catch((err)=>{
                    console.log('err :'+err);
                });
            }
        </script>
    </body>
</html>