<html>
    <head>
        <title>Autum | Home </title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/resources/css/autumn.css"/>
    </head>
    <body>
        <div class="body">
            <div class="autumn card contain">
                <div class="header">
                    Autum IDE
                </div>
                    <div class="subject bold">
                         <label>Learn to Code</label>
                    </div>
                    <div class="body">
                        <label class="note">
                            Edit and run code in browser .
                        </label>
                        <label class="note">
                            Save code files on cloud, access from anywhere anytime .
                        </label>
                        <button class="button" onclick="document.location='/public/login'"> Login </button>
                        <button class="button" onclick="document.location='/public/signup'" > Join </button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>