<html>
    <head>
        <title>Autumn | Join Us </title>
        
        <link rel="stylesheet" href="/resources/css/autumn.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
		<!-- form -->
		<div class="form">
                <div class="form-header">
                    <div class="title"> Join Us </div>
                    <div class="desc"></div>
                </div>
                <div class="form-body">
                    <div class="element">
                        <div class="label"> Full Name </div>
                        <div class="control">
                            <input type="text" class="textbox"/>
                        </div>
                    </div>
                    <div class="element">
                        <div class="label"> E-Mail </div>
                        <div class="control">
                            <input type="text" class="textbox"/>
                        </div>
                    </div>
                    <div class="element">
                        <div class="label"> User Name </div>
                        <div class="control">
                            <input type="text" class="textbox"/>
                        </div>
                    </div>
                    <div class="element">
                        <div class="label"> Password </div>
                        <div class="control">
                            <input type="text" class="textbox"/>
                        </div>
                    </div>
                    <div class="element">
                        <div class="control">
                            <input type="submit" value="Submit & Join" class="button"/>
                        </div>
                        <div class="control">
                            <input type="submit" value="Allready a Member" class="button"/>
                        </div>
                    </div>
                </div>
                <div class="form-footer"></div>
            </div>    
    </body>
</html>